[config]
skip_core_tasks = true

[env]
TARGET = "x86_64-unknown-linux-gnu"
PROFILE = "dev"
ASAN_CC = "x86_64-linux-gnu-gcc"
ASAN_STRIP = "x86_64-linux-gnu-strip"
ASAN_CFLAGS = "-m64 -no-pie -Wl,--no-relax -mcmodel=large -fno-stack-protector"
OUT_DIR = "../target/x86_64-unknown-linux-gnu/debug"
CHANNEL = "1.84.0"

[env.arm_dev]
TARGET = "armv7-unknown-linux-gnueabi"
FULL_PROFILE = "arm_dev"
PROFILE = "dev"
ASAN_CC = "arm-linux-gnueabi-gcc"
ASAN_STRIP = "arm-linux-gnueabi-strip"
ASAN_CFLAGS = "-no-pie -fno-stack-protector -marm"
OUT_DIR = "../target/armv7-unknown-linux-gnueabi/debug"
CHANNEL = "1.84.0"

[env.arm_release]
TARGET = "armv7-unknown-linux-gnueabi"
FULL_PROFILE = "arm_release"
PROFILE = "release"
ASAN_CC = "arm-linux-gnueabi-gcc"
ASAN_STRIP = "arm-linux-gnueabi-strip"
ASAN_CFLAGS = "-no-pie -fno-stack-protector -marm"
OUT_DIR = "../target/armv7-unknown-linux-gnueabi/release"
CHANNEL = "1.84.0"

[env.aarch64_dev]
TARGET = "aarch64-unknown-linux-gnu"
FULL_PROFILE = "aarch64_dev"
PROFILE = "dev"
ASAN_CC = "aarch64-linux-gnu-gcc"
ASAN_STRIP = "aarch64-linux-gnu-strip"
ASAN_CFLAGS = "-no-pie -fno-stack-protector"
OUT_DIR = "../target/aarch64-unknown-linux-gnu/debug"
CHANNEL = "1.84.0"

[env.aarch64_release]
TARGET = "aarch64-unknown-linux-gnu"
FULL_PROFILE = "aarch64_release"
PROFILE = "release"
ASAN_CC = "aarch64-linux-gnu-gcc"
ASAN_STRIP = "aarch64-linux-gnu-strip"
ASAN_CFLAGS = "-no-pie -fno-stack-protector"
OUT_DIR = "../target/aarch64-unknown-linux-gnu/release"
CHANNEL = "1.84.0"

[env.x64_dev]
TARGET = "x86_64-unknown-linux-gnu"
FULL_PROFILE = "x64_dev"
PROFILE = "dev"
ASAN_CC = "x86_64-linux-gnu-gcc"
ASAN_STRIP = "x86_64-linux-gnu-strip"
ASAN_CFLAGS = "-m64 -no-pie -Wl,--no-relax -mcmodel=large -fno-stack-protector"
OUT_DIR = "../target/x86_64-unknown-linux-gnu/debug"
CHANNEL = "1.84.0"

[env.x64_release]
TARGET = "x86_64-unknown-linux-gnu"
FULL_PROFILE = "x64_release"
PROFILE = "release"
ASAN_CC = "x86_64-linux-gnu-gcc"
ASAN_STRIP = "x86_64-linux-gnu-strip"
ASAN_CFLAGS = "-m64 -no-pie -Wl,--no-relax -mcmodel=large -fno-stack-protector"
OUT_DIR = "../target/x86_64-unknown-linux-gnu/release"
CHANNEL = "1.84.0"

[env.i686_dev]
TARGET = "i686-unknown-linux-gnu"
FULL_PROFILE = "i686_dev"
PROFILE = "dev"
ASAN_CC = "i686-linux-gnu-gcc"
ASAN_STRIP = "i686-linux-gnu-strip"
ASAN_CFLAGS = "-m32 -no-pie -fno-stack-protector"
OUT_DIR = "../target/i686-unknown-linux-gnu/debug"
CHANNEL = "1.84.0"

[env.i686_release]
TARGET = "i686-unknown-linux-gnu"
FULL_PROFILE = "i686_release"
PROFILE = "release"
ASAN_CC = "i686-linux-gnu-gcc"
ASAN_STRIP = "i686-linux-gnu-strip"
ASAN_CFLAGS = "-m32 -no-pie -fno-stack-protector"
OUT_DIR = "../target/i686-unknown-linux-gnu/release"
CHANNEL = "1.84.0"

[env.powerpc_dev]
TARGET = "powerpc-unknown-linux-gnu"
FULL_PROFILE = "powerpc_dev"
PROFILE = "dev"
ASAN_CC = "powerpc-linux-gnu-gcc"
ASAN_STRIP = "powerpc-linux-gnu-strip"
ASAN_CFLAGS = "-no-pie -fno-stack-protector"
OUT_DIR = "../target/powerpc-unknown-linux-gnu/debug"
CHANNEL = "nightly"

[env.powerpc_release]
TARGET = "powerpc-unknown-linux-gnu"
FULL_PROFILE = "powerpc_release"
PROFILE = "release"
ASAN_CC = "powerpc-linux-gnu-gcc"
ASAN_STRIP = "powerpc-linux-gnu-strip"
ASAN_CFLAGS = "-no-pie -fno-stack-protector"
OUT_DIR = "../target/powerpc-unknown-linux-gnu/release"
CHANNEL = "nightly"

[tasks.default]
alias = "strip"

[tasks.compile]
toolchain = "${CHANNEL}"
command = "cargo"
args = ["build", "--profile", "${PROFILE}", "--target", "${TARGET}"]

[tasks.libc]
toolchain = "${CHANNEL}"
command = "cargo"
args = ["make", "--cwd", "../dummy_libc", "--profile", "${FULL_PROFILE}"]

[tasks.link]
dependencies = ["compile", "libc"]
command = "${ASAN_CC}"
args = [
  "@@split(ASAN_CFLAGS, )",
  "-shared",
  "-nodefaultlibs",
  "-nostartfiles",
  "-nostdlib",
  "-g",
  "-u",
  "qasan_allocate",
  "-u",
  "qasan_deallocate",
  "-u",
  "aligned_alloc",
  "-u",
  "calloc",
  "-u",
  "free",
  "-u",
  "malloc",
  "-u",
  "malloc_usable_size",
  "-u",
  "memalign",
  "-u",
  "posix_memalign",
  "-u",
  "pvalloc",
  "-u",
  "read",
  "-u",
  "realloc",
  "-u",
  "reallocarray",
  "-u",
  "valloc",
  "-u",
  "write",
  "-o",
  "${OUT_DIR}/_libqasan.so",
  "-Wl,--version-script=qasan.map",
  "-Wl,--gc-sections",
  "-Wl,--no-undefined",
  "${OUT_DIR}/libqasan.a",
  "-L",
  "${OUT_DIR}",
  "-ldummy_libc",
]

[tasks.strip]
dependencies = ["link"]
command = "${ASAN_STRIP}"
args = [
  "--strip-unneeded",
  "-o",
  "${OUT_DIR}/libqasan.so",
  "${OUT_DIR}/_libqasan.so",
]

[tasks.test]

[tasks.test-all]

[tasks.fuzz-guest-shadow-debug]

[tasks.fuzz-guest-shadow-release]

[tasks.fuzz-guest-tracking-debug]

[tasks.fuzz-guest-tracking-release]

[tasks.fuzz-default-frontend-mock-debug]

[tasks.fuzz-default-frontend-mock-release]

[tasks.fuzz-default-frontend-dlmalloc-debug]

[tasks.fuzz-default-frontend-dlmalloc-release]
