[config]
skip_core_tasks = true

[env]
TARGET = "x86_64-unknown-linux-gnu"
JOBS = "8"

[tasks.default]
alias = "test"

[tasks.test]

[tasks.test-all]

[tasks.fuzz-debug]
toolchain = "nightly"
command = "cargo"
args = [
  "fuzz",
  "run",
  "--sanitizer", "none",
  "--target", "${TARGET}",
  "${HARNESS}",
]

[tasks.fuzz-release]
toolchain = "nightly"
command = "cargo"
args = [
  "fuzz",
  "run",
  "--sanitizer", "none",
  "--target", "${TARGET}",
  "--release",
  "${HARNESS}",
  "--",
  "-jobs=${JOBS}",
]

[tasks.fuzz-guest-shadow-debug]
extend = "fuzz-debug"
env = { HARNESS = "guest_shadow" }

[tasks.fuzz-guest-shadow-release]
extend = "fuzz-release"
env = { HARNESS = "guest_shadow" }


[tasks.fuzz-guest-tracking-debug]
extend = "fuzz-debug"
env = { HARNESS = "guest_tracking" }

[tasks.fuzz-guest-tracking-release]
extend = "fuzz-release"
env = { HARNESS = "guest_tracking" }

[tasks.fuzz-default-frontend-debug]
extend = "fuzz-debug"
env = { HARNESS = "default_frontend" }

[tasks.fuzz-default-frontend-release]
extend = "fuzz-release"
env = { HARNESS = "default_frontend" }
